@import "tailwindcss";

@theme {
    --font-yekan: yekanbakh, Arial, Helvetica, sans-serif;
    --color-primary: #ff510c;
    --color-category: #747474;
    --color-icons: #171717;
    --drop-shadow-xl: 0px 0px 19.6px -5px #0000001A;
    --font-adlam: adlam;
    --breakpoint-dm: 800px;
    --breakpoint-fm: 880px;
    --breakpoint-zm: 450px;
    --breakpoint-gm: 540px;
} 


